@{
    ViewData["Title"] = "Terms and Policy";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="main-container">

    <div class="main-container-info">
        <h1>These are the Terms and Policy</h1>

    </div>
</div>
